body {
  background-color: #7f72f5;
  color: #fff;
}

.main {
  color: #fff;
  margin: 5px 5px 5px 5px;
}

li {
  display: flex;
  align-items: center;
}

span {
  color: #ff2e00;
}

.spinner-m {
  width: 3rem;
  height: 3rem;
}

.inpt {
  border: 3px solid   #5448c8;
}

button {
  background-color: #5448c8;
  border: 3px solid #5448c8;
  color: #fff;
}

form,
input,
li {
  width: 100%;
}

li h4 {
  padding: 5px;
}

.main li:nth-child(odd) {
  background-color: #5448c8;
}

/* .width {
  width: 50%;
} */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
